body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: white; */
    color: #333;
}

.navbar {
    /* background-color: #333; */
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.main-layout {
    display: flex;
    height: calc(100vh - 64px);
    /* assuming navbar height is 64px */
}

.sidebar {
    background-color: #f2f4f3;
    padding: 1rem;
    width: 200px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin-bottom: 1rem;

    a {
        text-decoration: none;
        color: #264653;
        font-size: extra-bold;
        font-size: 18px;
    }
}

.body {
    flex-grow: 1;
    padding: 1rem;


}

.post-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.post {
    background-color: #f0f0f0;
    padding: 1rem;
    border: 1px solid #ddd;
}

.pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 00.5rem;
    }

    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sidebar li {
        margin-right: 1rem;
    }

    .body {
        padding: 0.5rem;
    }

    .post-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .navbar {
        width: 100%;
        padding: 16px 0;
    }

    .nav-links {
        display: none;
    }

    .nav-brand {
        font-size: 18px;
        line-height: 24px;
        font-size: bold;
        text-align: center;
    }

    .sidebar {
        width: 100%;
        padding: 0;

    }

    .sidebar ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar li {
        margin-right: 0;
        margin-bottom: 0.5rem;

        a {
            font-size: 12px;
            text-align: center;
            text-decoration: none;
        }
    }
}

.create-post {
    /* background: #264653; */
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    color: white;
}

.create-post form {
    display: flex;
    flex-direction: column;
}

.create-post label {
    margin-bottom: 0.5rem;
}

.create-post input,
.create-post textarea,
.create-post select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

.create-post button[type="button"] {
    background-color: #264653;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}