body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    /* gap: 30px; */

}

.navbar {
    background: #0d1321;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nav-brand {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

#signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
}

h2 {
    color: #0d1321;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    height: 50px;
    /* padding: 10px; */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

p {
    color: #0d1321;
    text-align: center;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #3e8e41;
}

@media (max-width: 425px) {
    #signup-form {
        width: 300px;
    }
}