body {
    font-family: Arial, sans-serif;
    margin: auto;
    overflow-x: hidden;
    /* background-color: #f2f2f2; */

}

.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;

}

.navbar {
    background: #0d1321;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nav-brand {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.form-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #0d1321;
}

#login-form {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */

}

#login-form p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #0d1321;
}

input {
    width: 100%;
    height: 50px;
    padding: 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #3e8e41;
}